[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Link
Icon=gnome-fs-bookmark
URL=http://tomoyo.sourceforge.jp/
Name=TOMOYO Linux Website
Name[ja_JP]=TOMOYO Linux ホームページ
