body {
	min-width: 650px;
	background: #f5f7f9;
	color: #111111;
	font: normal 100% sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
}
p { margin: 1em 2em 1em 0em ; }
ul { margin-bottom: 1em; padding-left: 2em; list-style: square; }
hr { border: none; border-top: 1px solid #888888; }
img { border: 0; }

#content { font-size: 0.875em; }

h1 { font-size: 2em; margin-bottom: 0.5em; }
h2 { font-size: 1.5em; margin-bottom: 0.5em; }
h3 { font-size: 1.25em; margin-top: 1em; }
h4 { font-size: 1.15em; margin-top: 1em; }
h5 { font-size: 1em; margin-top: 1em; }

#titlebar {
	height: 80px !important;
	padding: 10px 15px !important;
	background: #355568 !important;
}
#navbar {
	height: 30px !important;
	padding: 10px 15px !important;
	background: #333333 !important;
}
#navbar ul {
	display: inline !important;
	float: right !important;
	list-style: none !important;
	margin: 0 !important;
	padding: 0 !important;
}
#navbar ul li {
	float: left !important;
	font-size: 14px !important;
	font-family: sans-serif !important;
	line-height: 35px !important;
	padding-right: 15px !important;
	padding-left: 10px !important;
}
#navbar ul#navbarlist li a {
	color: #999999;
	font-weight: bold !important;
	text-decoration: none !important;
}
#navbar ul li a:hover {
	color: white !important;
	text-decoration: underline !important;
}
#navbar.tomoyo-home ul li#tomoyo-home a {
	color: white !important;
}
#navbar.tomoyo-about ul li#tomoyo-about a {
	color: white !important;
}
#navbar.tomoyo-download ul li#tomoyo-download a {
	color: white !important;
}
#navbar.tomoyo-changelog ul li#tomoyo-changelog a {
	color: white !important;
}
#navbar.tomoyo-documentation ul li#tomoyo-documentation a {
	color: white !important;
}
#navbar.tomoyo-links ul li#tomoyo-links a {
	color: white !important;
}
#navbar.tomoyo-support ul li#tomoyo-support a {
	color: white !important;
}

div#content { width: 96%; margin: 0 auto; text-align: left; } 
div#main {
	float: left;
	width: 47%;
	margin: 1.5em 0em 1.5em 0.25em;
}
div#news {
	float: right;
	width: 47%;
	margin: 1.5em 0.25em 1.5em 0em;
	padding: 0.75em;
	background: #ecf2f5;
	border: 1px solid #cbcbcb;
}
div#news .timestamp { font-size: 0.8em; margin-top: 4em; line-height: 0%; }
div#news h3 { margin-top: 0em; margin-bottom: 0em; }
div#news h4 {
	font-size: 1em;
	margin-top: 0em;
	margin-bottom: 0em;
	border-bottom: 1px dotted #666666;
}
div#news p { margin-top: 0.5em; }
div#footer { clear: both; }
div#footer p { text-align: center; font-size: 0.8em; }

div#changelog pre {
	border: 1px solid #cbcbcb;
	background: #ecf2f5;
	margin: 1.5em 1.5em 1.5em 1.5em;
	padding: 0.75em;
}

a {	text-decoration: none; }
a:link {color: #1366a0; }
a:visited {	color: #6f6f6f; }
a:hover { text-decoration: underline; color: #6f6f6f; }
a:active { color: #f69306; }

pre {
	border: 2px solid #6699ff;
	background: #ddffff;
	padding: 0.5em 1em 0.5em 1em;
	margin: 1em 2em 1em 2em;
}
pre.command {
	border: 2px solid #444444;
	background: #e1e1e1;
	padding: 0.5em 1em 0.5em 1em;
	margin: 1em 2em 1em 2em;
}
pre.output {
	border: 2px solid #919191;
	background: #e1e1e1;
	padding: 0.5em 1em 0.5em 1em;
	margin: 1em 2em 1em 2em;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
}
	
blockquote {
	border-style: solid;
	border-width: 2px;
	border-color: #6699ff;
	background-color: #ddffff;
	padding: 0.25em 1em 0.25em 1em;
	margin: 1em 2em 1em 2em;
}
