      body {
      font-family: "MSゴシック体", sans-serif;
      margin-right: 6%;
      margin-left: 6%;
      line-height: 150%;
      }
      p {
      text-indent: 1em;
      }
      h1, h2 {
      font-family: "MSゴシック体", sans-serif;
      line-height: 150%;
      width: 100%;
      color: #ffffff;
      background-color: #6699FF;
      padding: 5px 3px 3px 0.5em;
      margin-top: 5px;
      margin-bottom: 10px;
      }
      .header_td {
      background-color:#000066;
      color: #FFFFFF;
      padding-right:0.5em;
      padding-left: 0.5em;
      padding-top: 1px;
      padding-bottom: 1px;
      vertical-align: middle;
      text-align:left;
      }
      .search{
      background-color:#000066;
      color: #FFFFFF;
      padding-right:1em;
      padding-left: 1em;
      padding-top: 0.5p;
      padding-bottom: 0.5px;
      vertical-align: middle;
      text-align:right;
      font-size:small;
      }
      .breadcrumbs {
      font-size: x-small;
      background-color: #CCCCCC;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
      margin-top: 0em;
      padding-right: 1em;
      padding-left: 1em;
      }
      img {
      border:0;
      }
