[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Exec=sudo /usr/bin/tail ---disable-inotify -f /var/log/tomoyo/reject_000.log /var/log/tomoyo/reject_001.log /var/log/tomoyo/reject_002.log /var/log/tomoyo/reject_003.log
Name=TOMOYO Linux Policy Violation Log
Name[ja_JP]=TOMOYO Linux ポリシー違反ログ
