[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Exec=sudo /usr/sbin/tomoyo-editpolicy
Name=TOMOYO Linux (LSM) Policy Editor
Name[ja_JP]=TOMOYO Linux (LSM) ポリシーエディタ
