[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Link
Icon=gnome-fs-bookmark
URL=file:///usr/share/doc/tomoyo/index.html.en
Name=TOMOYO Linux LiveCD Tutorial
Name[ja_JP]=TOMOYO Linux LiveCD チュートリアル
